[user]
	name = Benjamin C Meyer
	email = ben@meyerhome.net
[color]
        status = auto
        diff = auto
        branch = auto
        interactive = auto
        ui = true

[sendemail]
        smtpuser = benjamin.charles.meyer
        smtpserverport = 587
        smtpserver = smtp.comcast.net
        smtppass = 

[hooks]
	global = ~/git/git-hooks/contrib/
